<h2 class="page-header">All polls</h2>
<hr>
<p>Welcome to the voting app!</p>

{{#if polls}}
	{{#each polls}}
		<div id="{{this.title}}" class=" alert alert-success " onclick="singlePoll(this.id)">
			{{this.title}}
		</div>
	{{/each}}
{{/if}}
