<h2 class="page-header">You are voting for {{poll.title}}</h2>
<hr>
 <form class="form-group" method="POST" action="/vote/{{poll.title}}">
  <label for="sel1">Your options are:</label>
  <select class="form-control" id="sel1" name="option">
    {{#each poll.options }}
		<option> {{this.name}} </option>
	{{/each}}
  </select>
  <input class="btn btn-block btn-primary" type="submit" value="Submit">
</form> 
