<h2 class="page-header">You are voting for {{poll.title}}</h2>
<hr>
 <div class="form-group">
  <label for="sel1">Your options are:</label>
  <select class="form-control" id="sel1">
    {{#each poll.options }}
		<option> {{this.name}} </option>
	{{/each}}
  </select>
</div> 
